<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <meta name="viewport" content="width=320,initial-scale=1,user-scalable=no">
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
  <meta name="format-detection" content="telephone=no"/>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <title>{%block title%}手机百度新闻{%endblock%}</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="/js/jquery-2.2.3.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  {%block head%}{%endblock%}
</head>
<body>
{%block header%}{%endblock%}
{%block content%}{%endblock%}
{%block footer%}{%endblock%}
{%block scripts%}{%endblock%}
</body>
</html>
